# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.iso
*.gen
*.ram
/tools/asmx2/src/asmx
/tools/bls/bdb
/tools/bls/blsbuild
/tools/bls/d68k
/tools/bls/scdupload
/tools/bls/test_d68k
/tools/bin2c/bin2c

# Dependencies
/sgdk

# Build directories
/build
/samples/*/tmp
